In [1]:
## Import necessary libraries
import pickle
import pandas as pd

In [2]:
with open ('edges_df', 'rb') as fr:
    edges_df = pickle.load(fr)

In [4]:
edges_df = edges_df.sort_values('Time').reset_index(drop = True)

In [5]:
edges_df.head()

,Reverted,Reverter,Status_reverted,Status_reverter,Time
0,MichaelTinkler,Larry_Sanger,1.716003,2.564666,2001-08-14 00:47:46
1,Mike_Dill,Koyaanis_Qatsi,2.103804,2.418301,2001-09-06 06:24:23
2,64.192.12.xxx,DrBob,0.000000,1.518514,2001-10-15 18:37:47
3,63.192.137.xxx,Manning_Bartlett,1.799341,1.995635,2001-10-16 02:23:30
4,161.116.72.xxx,Manning_Bartlett,0.000000,2.025306,2001-10-17 12:00:42

In [10]:
motif_df = pd.merge_asof(edges_df, edges_df, on='Time', 
                  left_by=['Reverted', 'Reverter'],
                  right_by=['Reverter', 'Reverted'],
                  tolerance=pd.Timedelta('24hours'),
                  direction='forward',
                  suffixes=('', '_hitback')).dropna(how = 'any', axis = 0).reset_index(drop = True)

In [11]:
motif_df.head()

,Reverted,Reverter,Status_reverted,Status_reverter,Time,Reverted_hitback,Reverter_hitback,Status_reverted_hitback,Status_reverter_hitback
0,208.60.196.xxx,Anatoly_Vorobey,1.278754,1.477121,2001-11-04 02:15:54,Anatoly_Vorobey,208.60.196.xxx,1.477121,1.322219
1,Ed_Poor,200.191.188.xxx,2.465383,2.952308,2001-12-06 16:37:39,200.191.188.xxx,Ed_Poor,2.953760,2.480007
2,Ed_Poor,200.191.188.xxx,2.465383,2.954243,2001-12-06 17:08:41,200.191.188.xxx,Ed_Poor,2.953760,2.480007
3,David_Byron,Egern,0.903090,2.100371,2001-12-09 06:38:58,Egern,David_Byron,2.100371,1.113943
4,Egern,David_Byron,2.100371,1.113943,2001-12-09 07:01:33,David_Byron,Egern,1.113943,2.107210

In [12]:
print("There are", len(motif_df), "temporal motifs in the data")

There are 447 temporal motifs in the data

In [ ]:
## uncomment if you want to overwrite.
#with open ('motif_df', 'wb') as fw:
#    pickle.dump(motif_df, fw)